.save-item {
    margin-left: 100px;
    margin-top: 100px;
    line-height: 20px;

}

.save-item h1{
    font-size: 90px;
    line-height: 50px;
    font-weight: bolder;
    color: #fa541c;
}

.save-item p {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.product-cards {
    animation-duration: 3s;
    animation-delay: 2s;
}

@media (max-width: 768px) {
    .product-cards .card {
        margin-left: 70px;
        padding-bottom: 10px;
    }
    .save-item h1{
        font-size: 50px;
        line-height: 50px;
        font-weight: bolder;
        color: #fa541c;
    }

    .save-item p {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        color: black;
    }
    .back3 {
        background-size: cover;
    }

}