.top-header {
    padding-top: 8px;
    color: white;
}
.top-header li {
    display: inline;
    padding-left: 20px;
}
.ant-dropdown-link {
    color: white;
}

.basket {
    margin-right: 230px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.navleft-icons li{
    display: inline;
    float: right;
    padding: 20px;
}

@media (max-width: 768px) {
    .top-header {
        display: none;
    }
    .basket li {
        display: inline;
        padding-right: 0px;
    }

    .navleft-icons li{
        display: inline;
        padding: 10px;
    }

}