.top-header {
    padding-top: 8px;
    color: white;
}
.top-header li {
    display: inline;
    padding-left: 20px;
}
.ant-dropdown-link {
    color: white;
}

.basket li {
    float: right;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;

}

@media (max-width: 768px) {
    .top-header {
        display: none;
    }
    .basket li {
        display: inline;
        padding-right: 20px;
    }

}